In [3]:
import pandas as pd

df = pd.read_csv(r'C:\Users\grety\Desktop\Git_Hub\Repositories\final-project\Resources\HPI_AT_BDL_ZIP5.csv')
df.head()

,Five-Digit ZIP Code,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base,Unnamed: 6,Unnamed: 7
0,1001,1985,.,100.00,62.15,61.41,NaN,NaN
1,1001,1986,13.67,113.67,70.65,69.80,NaN,NaN
2,1001,1987,21.20,137.77,85.63,84.60,NaN,NaN
3,1001,1988,17.38,161.72,100.52,99.31,NaN,NaN
4,1001,1989,1.14,163.57,101.67,100.45,NaN,NaN