In [24]:
import pandas as pd
import numpy as np
df = pd.read_csv(r'C:\Users\grety\Desktop\Git_Hub\Repositories\final-project\Resources\HPI_AT_BDL_ZIP5.csv')
df.head(5)

,Five-Digit ZIP Code,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base,Unnamed: 6,Unnamed: 7
0,1001,1985,.,100.00,62.15,61.41,NaN,NaN
1,1001,1986,13.67,113.67,70.65,69.80,NaN,NaN
2,1001,1987,21.20,137.77,85.63,84.60,NaN,NaN
3,1001,1988,17.38,161.72,100.52,99.31,NaN,NaN
4,1001,1989,1.14,163.57,101.67,100.45,NaN,NaN

In [26]:
x = df[["Five-Digit ZIP Code", "Year", "Annual Change (%)", "HPI", "HPI with 1990 base", "HPI with 2000 base"]]
x.head()

,Five-Digit ZIP Code,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base
0,1001,1985,.,100.00,62.15,61.41
1,1001,1986,13.67,113.67,70.65,69.80
2,1001,1987,21.20,137.77,85.63,84.60
3,1001,1988,17.38,161.72,100.52,99.31
4,1001,1989,1.14,163.57,101.67,100.45

In [40]:
cleveland_HPI = x[x["Five-Digit ZIP Code"] == 44103]


cleveland_HPI.head(20)

,Five-Digit ZIP Code,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base
256896,44103,2001,.,100.00,.,.
256897,44103,2002,-2.95,97.05,.,.
256898,44103,2003,8.95,105.74,.,.
256899,44103,2004,2.61,108.49,.,.
256900,44103,2005,2.38,111.07,.,.
256901,44103,2006,-4.19,106.42,.,.
256902,44103,2007,-0.74,105.63,.,.
256903,44103,2008,.,.,.,.
256904,44103,2009,.,78.52,.,.
256905,44103,2010,.,.,.,.
256906,44103,2011,.,73.33,.,.
256907,44103,2012,0.90,73.99,.,.
256908,44103,2013,0.80,74.58,.,.
256909,44103,2014,14.14,85.13,.,.
256910,44103,2015,.,.,.,.
256911,44103,2016,.,.,.,.
256912,44103,2017,.,73.07,.,.
256913,44103,2018,.,.,.,.
256914,44103,2019,.,.,.,.
256915,44103,2020,.,88.70,.,.

In [9]:
df.shape

(583050, 8)